.loader {
    display: flex; /* Exibe os elementos em linha */
    align-items: center; /* Alinha verticalmente os elementos */
    justify-content: center; /* Alinha horizontalmente os elementos */
    height: 100px; /* Altura do loader */
  }
  
  .loader-circle {
    width: 40px; /* Largura do círculo */
    height: 40px; /* Altura do círculo */
    border-radius: 50%; /* Borda arredondada para criar um círculo */
    border: 4px solid rgba(0, 0, 0, 0.1); /* Borda do círculo */
    border-top-color: #000; /* Cor da borda do topo do círculo */
    animation: loader-spin 1s infinite linear; /* Animação de rotação do círculo */
  }
  
  @keyframes loader-spin {
    to {
      transform: rotate(360deg); /* Rotação completa do círculo */
    }
  }
  